{% extends "layout.html" %}

{% block title %}
    Success!
{% endblock %}

{% block body %}
    <h1>Success!</h1>

    You have successfully booked your flight.
    <br>
    <p>Thanks you for your booking, Dear  <span>{{name}} </span> 

        <h1>Flight Details</h1>

        <ul>
            <li>Origin: {{ flight.origin }}</li>
            <li>Destination: {{ flight.destination }}</li>
            <li>Duration: {{ flight.duration}} minutes</li>
        </ul>
   
    <h2>Thanks for using our <b>Oops Airways</b> </h2>
    <a href="/" class="btn btn-primary">Back</a>
{% endblock %}
